
/* =========================================
   STYLEHUB - FOOTER
========================================= */

.footer {
    background: #1A1A2E;
    color: #FFFFFF;
    padding: 60px 0 20px;
}

.footer-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;

    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 40px;
}

.footer h2,
.footer h3 {
    color: #FFFFFF;
    margin-bottom: 15px;
}

.footer-logo span {
    color: #E91E63;
}

.footer p {
    color: #CCCCCC;
}

.footer-links {
    list-style: none;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color: #CCCCCC;
}

.footer-links a:hover {
    color: #E91E63;
}

/* NEWSLETTER */

.newsletter {
    display: flex;
    margin-top: 15px;
}

.newsletter input {
    border-radius: 8px 0 0 8px;
    border: none;
}

.newsletter button {
    border-radius: 0 8px 8px 0;
}

/* GOLD ACCENT */

.footer-gold {
    color: #D4AF37;
}

/* COPYRIGHT */

.footer-bottom {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto 0;
    padding-top: 20px;

    border-top: 1px solid #33334A;

    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
}

/* RESPONSIVE */

@media (max-width: 768px) {

    .footer-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 500px) {

    .footer-container {
        grid-template-columns: 1fr;
    }

    .newsletter {
        display: block;
    }

    .newsletter input,
    .newsletter button {
        width: 100%;
        border-radius: 8px;
        margin-bottom: 8px;
    }
}